:root {
	/* --page-max-width: 120rem; */
	--page-gap: clamp(1.6rem, 2.4vw, 3.2rem);
}

body {
	background-color: var(--color-background-page);
}

main {
	width: min(100%, 50rem);
	margin-inline: auto;
    margin: 2rem auto;
    border: 1px solid var(--color-border-primary);
    border-radius: var(--border-radius-small);
    box-shadow: var(--shadow-card);
    	min-height: 100vh;
	padding: 3rem 1rem 1.5rem;

}

section {
	scroll-margin-top: 8rem;
    margin: var(--spacing-sm) auto;
}



@media (min-width: 480px) {
	main {
		padding: 3rem 2rem 2rem;
	}
}
