.geolocationWrapper {
  width: 100%;
}

.linkText {
  color: var(--color-text-success);
  font-size: var(--font-size-label-large);
}

.locationButton {
  gap: 0.5rem;
  width: 100%;
  min-height: 5.3rem;
  border: 1px solid var(--color-border-primary);
  border-radius: var(--border-radius-small);
  background-color: var(--color-background-page);
  box-shadow: var(--shadow-card);
}

.linkText:active {
  color: var(--color-text-attention);
}

.locationButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  filter: grayscale(1);
}
.locationButton:hover {
  background: var(--color-background-success);
}
