.linkText {
  color: var(--color-text-success);
  font-size: var(--font-size-label-large);
}

.locationButton {
  border: none;
  background-color: transparent;
  gap: 0.5rem;
}

.linkText:active {
  color: var(--color-text-attention);
}
