.footer {
	padding: var(--spacing-md);
    background: #50548f;
}

.text {
	margin: 0 auto;
	font-size: var(--font-size-body-small);
	font-family: var(--font-family-body-small);
	text-align: center;
    color: var(--color-text-primary-inverse);
}
