.page {
  min-height: 70vh;
}

.content {
  max-width: 36rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: var(--spacing-sm);
  font-family: var(--font-family-headline-medium);
  font-size: var(--font-size-headline-medium);
  line-height: var(--line-height-headline-medium);
  font-weight: var(--font-weight-headline-medium);
  color: var(--color-text-primary);
}

.message {
  margin-bottom: var(--spacing-lg);
  font-family: var(--font-family-body-large);
  font-size: var(--font-size-body-large);
  line-height: var(--line-height-body-large);
  color: var(--color-text-muted);
}
