.logo {
  display: inline-flex;
  flex-shrink: 0;
  color: var(--color-icon-success);
  margin: 0;
  transform: translateY(0.3rem);
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  font-size: var(--font-size-body-large);
  line-height: var(--line-height-body-medium);
  font-family: var(--font-family-headline-medium);
  text-align: justify;
}

.list p {
  display: flex;
  align-items: flex-start;
  color: var(--color-text-primary);
  gap: var(--spacing-xs);
  margin: 0;
  letter-spacing: 0.5px;
}

