.storeCard {
  display: grid;
  grid-template-columns: 6rem 1fr max-content;
  justify-content: start;
  align-items: center;
  /* gap: 2rem; */
  gap: clamp(0.4rem, 2.2vw, 0.9rem);
  padding: 1rem;
}

.flat {
  border: none;
  box-shadow: none;
}

.storeCard:hover {
  transform: scale(1.05);
}

.bordered,
.storeCard:hover {
  box-shadow: var(--shadow-card);
  border-radius: var(--border-radius-large);
  border: 1px solid var(--color-border-primary);
}

.storeDetails {
  display: flex;
  align-items: center;
}

.storeName {
  font-size: clamp(1.2rem, 4vw, 2rem);
  font-weight: var(--font-weight-headline-medium);
}

.storeAddress {
  font-size: clamp(1rem, 3.5vw, 1.5rem);
  font-weight: var(--font-weight-body-large);
}

.distance,
.location {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.distance {
  gap: 0.2rem;
}

.distanceInfo {
  color: var(--color-text-muted);
}
.location {
  gap: 1.5rem;
}

.workingDetails {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.storeInfo {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.circle {
  height: 1.3rem;
  width: 1.3rem;
  border-radius: var(--border-radius-full);
}

.open {
  background-color: var(--color-background-accent);
}

.closed {
  background-color: var(--color-background-error-strong);
}

.closingSoon {
  background-color: var(--color-background-attention);
}

.offerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offers,
.offersText {
  color: var(--color-text-primary-inverse);
}

.offersText {
  padding: 0.2rem 1rem;
  font-size: var(--font-size-label-medium);
  font-weight: var(--font-weight-label-medium);
}

@media (min-width: 480px) {
  .storeName {
  font-size: var(--font-size-headline-medium);
  font-weight: var(--font-weight-headline-medium);
}

.storeAddress {
  font-size: var(--font-size-body-large);
  font-weight: var(--font-weight-body-large);
}

.storeCard {
  max-width: 55rem;
  gap: 3rem;
  padding: 2rem 2.5rem;
}
}

@media (min-width: 768px) {
  .storeCard {
    max-width: 55rem;
    /* margin-left: 5rem; */
    min-width: 50rem;
  }
}
