.storeCard {
  display: grid;
  grid-template-columns: 6rem 1fr max-content;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.active:hover {
  transform: translateY(-1px) scale(1.02);
  box-shadow: var(--shadow-hover);
  cursor: pointer;
  border-radius: var(--border-radius-large);
}

.storeDetails {
  display: flex;
  align-items: center;
}

.storeName {
  font-family: var(--font-family-headline-large);
  font-size: clamp(1.2rem, 4vw, 2rem);
  font-weight: var(--font-weight-headline-large);
}

.storeAddress {
  font-family: var(--font-family-headline-small);
  font-size: var(--font-size-headline-small);
  font-weight: var(--font-weight-headline-small);
}

.distance,
.location {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.distance {
  gap: 0.2rem;
}

.distanceInfo {
  color: var(--color-text-muted);
  font-family: var(--font-family-label-small);
  font-size: var(--font-size-label-small);
}

.location {
  gap: 1.5rem;
}

.workingDetails {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.storeInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.circle {
  height: 1.3rem;
  width: 1.3rem;
  border-radius: var(--border-radius-full);
}

.open {
  background-color: var(--color-background-accent);
}

.closed {
  background-color: var(--color-background-error-strong);
}

.closingSoon {
  background-color: var(--color-background-attention);
}

.openHours {
  font-family: var(--font-family-body-medium);
  font-size: var(--font-size-body-medium);
  font-weight: var(--font-weight-body-medium);
}

.offerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offers,
.offersText {
  color: var(--color-text-primary-inverse);
}

.offersText {
  padding: 0.2rem 2rem;
  font-size: var(--font-size-label-medium);
  font-weight: var(--font-weight-label-medium);
}

@media (min-width: 480px) {
  /* .storeName {
    font-size: var(--font-size-headline-large);
    font-weight: var(--font-weight-headline-large);
  } */

  .storeAddress {
    font-size: var(--font-size-body-large);
    font-weight: var(--font-weight-body-large);
  }

  .storeCard {
    max-width: 55rem;
    gap: 3rem;
    padding: 2rem 2.5rem;
  }
}

@media (min-width: 768px) {
  .storeCard {
    max-width: 55rem;
    /* margin-left: 5rem; */
    min-width: 50rem;
  }
}
